@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"),
    url(/src/assets/static/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf);
}

body {
  font-family: "Source Code Pro", Courier, monospace;
}
